<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BaiThucHanhC_.Properties.Settings.QLSVConnectionString"
            connectionString="Data Source=LAPTOP-CMH3TD00\QUOCVIET;Initial Catalog=QLSV;User ID=sa;Password=viethz21;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>